* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* -------------------------
    Navbar style
---------------------------- */

.navbar {
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 4px;
    padding: 0 16px;
    background-color: white;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
    z-index: 999;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.logo {
    padding: 13px 16px;
}

.special {
    font-weight: bold;
}

.navbar li,
menu {
    list-style: none;
    padding: 25px 16px;
    cursor: pointer;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li:hover,
.logo:hover {
    background-color: gainsboro;
}

/* -------------------------
        header styles
---------------------------- */

.header {
    background: url("images/architect.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-title h1 {
    font-size: 36px;
    letter-spacing: 4px;
    color: white;
    text-align: center;
}

.mr-title {
    background-color: black;
    padding: 8px 16px;
    opacity: 0.7;
}

.arc-title {
    font-weight: normal;
}

/* ----------------------------
    main content style
------------------------------- */

.container {
    max-width: 1280px;
    margin: 0 32px;
}

img {
    max-width: 100%;
    height: auto;
}

.section-title {
    padding: 18px 0;
    margin: 52px 0;
    border-bottom: 1px solid gainsboro;
    font-size: 24px;
    font-weight: normal;
}

.d-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-items: center;
    align-items: center;
}

.house-card {
    position: relative;
}

.house-card p {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    padding: 8px 16px;
}

.about .section-title {
    margin-bottom: 25px;
}

.about p {
    line-height: 22.5px;
    text-align: justify;
}

/* ---------------------
    Card styles
------------------------ */

.card-content h1,
h3 {
    font-weight: normal;
    font-size: 28px;
    padding-bottom: 10px;
}

.card-content h3 {
    font-size: 18px;
    color: gray;
}

.card-content p{
    font-size: 15px;
    padding: 18px 0;
}

button{
    border: none;
    padding: 10px 8px;
    width: 100%;
    font-size: 17px;
    background-color: #f1f1f1;
}
button:hover{
    border: none;
    padding: 10px 8px;
    width: 100%;
    font-size: 17px;
    background-color: #ccc;
    cursor: pointer;
}

input{
    display: block;
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    color: gray;
    border: 1px solid gray;
}

.btn{
    width: 25%;
    color: white;
    background-color: black;
}
.btn:hover{
    width: 25%;
    color: white;
    background-color: rgba(0, 0, 0, 0.63);
}